body {
  background-color: hsl(212, 45%, 89%);
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Outfit, sans-serif;
  font-size: 15px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  max-width: 290px;
  text-align: center;
}

a,
a:hover {
  color: hsl(218, 44%, 22%);
}

.card img {
  max-width: 100%;
  border-radius: 12px;
}

.card .card-body {
  padding: 10px;
  color: hsl(220, 15%, 55%);
}

.card .card-title {
  margin-top: 1.17em;
  margin-bottom: 1.17em;
  font-size: 1.4rem;
  font-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
